$letters: 16;
$letter-side: 29px;
$letter-padding: 2px;
$letter-margin: 2px;

.words.container {
  width: $letters * ($letter-side + $letter-padding * 2);
  height: $letters * ($letter-side + $letter-padding * 2);
  position: relative;
}

.words.row {
  margin: 0;
  padding: 0;
}

.words.cell {
  float: left;
  text-align: center;
  vertical-align: middle;
  margin: $letter-margin;
  padding: $letter-padding;
  width: $letter-side;
  height: $letter-side;
  border-radius: $letter-side / 5;
  background-color: #ddd;

  span {
    vertical-align: middle;
    font-weight: bold;
  }
}